body {
    font-family: 'Roboto', sans-serif; 
    height: 100vh;
    margin: 0px;
}

.header {
background-color: #1f2937;
}
.narrowheader {
    display: flex;
    gap: 1.5%;
    margin: 0% 10%;
}

#logo {
    font-size: 24px;
    font: bolder;
    color: #f9faf8;
    margin-right: auto;
}

.headerlinks {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}